### GA Data Science (DAT NYC 25) - 8/27/15 In Class Exercise 1

### Basic python data types:

There are four numeric types: ***int, float, bool***, and ***complex***.

In [1]:
#find the type for an integer with type($VALUE)

int

In [4]:
#type a float

float

In [6]:
#type boolean (True or False)

bool

In [4]:
#this is an example of a complex type

complex

Basic math with basic types - pretty obvious, except watch for integer division!

In [5]:
#find the sume of 5 and 5

10

In [6]:
#multiply 3 and 7

21

In [8]:
#create 3 varibles- x has the value of 10, y has the value of 5 and z has the value of 4

In [8]:
#subtract x and y

5

In [9]:
#divide y by x

0

In [10]:
#why did we get 0??? How can you see the decimal? (hint check the type)

int

In [13]:
y / 10.0 # adding a decimal converts one of values to a float. Python converts to float division if one operand is a float

0.5

In [12]:
y / float(x)  # equivalent - use float to 'cast' z to a float

2.5

In [16]:
# find the remainder of 10 divided by 3
 # modulo % operator(i.e. remainder)

1

In [15]:
# what's the remainder of 20 divided by 5
  # you now have the start to the classic programming challenge fizz buzz...

0

#### Python lists  

The next basic data type is the Python ***list***.  A list is an ***ordered collection of elements***, and these elements can be of arbitrary type. Lists are ***mutable***, meaning they can be changed in-place.  In python lists are indicated by square brackets **`[`** and **`]`**.  Items in a list are indexed starting with 0.

In [14]:
# make a list, k, that contains the number 1, the letter b and a boolean true (in that order)

In [15]:
#print the 3rd item in the list (True)

True

In [16]:
#reset the 2nd item from b to a

In [17]:
# print the new list

[1, 'a', True]

You can even have lists of lists:

In [18]:
a = [[1,2,3], 4, 5]

In [19]:
#print the first object in the list (it should be the list inside the list)

[1, 2, 3]

In [20]:
#print the second object in the list

4

### Python tuples
Tuples are similar to lists, except that they are ***immutable***, meaning that they cannot be changed in place.  Tuples are indicated by parenthesis **`(`** and **`)`**.

In [21]:
#make a tuple, x, with the number 1, the letter a and the number 2.5

(1, 'a', 2.5)

In [23]:
#print the first value in the tuple

1

In [17]:
#try to change a to b as you did above

TypeError: 'int' object does not support item assignment

#### Python sets

A python set is an unordered mutable collection of distinct elements - i.e. a list with duplicates removed. the syntax is set([item1, item2, item3])

In [25]:
# make set, named y, with the numbers 1, 1, 2, 3, 5, 8

In [26]:
#print your set, what happened?

{1, 2, 3, 5, 8}

A set can be used as a quick method to removed duplicate elements from a list:

In [19]:
#let's remove the duplicates
a = [1, 3, 4, 5, 5, 5, 7, 8, 8, 9]

In [23]:
#remove the duplicates from list a

{1, 3, 4, 5, 7, 8, 9}

In [26]:
#check the type of your result. If it's not a list, make it one.

set

In [27]:
#if it's not a list, make it one

[1, 3, 4, 5, 7, 8, 9]

#### Python dictionaries (i.e. associative arrays)

Dictionaries are ***unordered*** collections of ***key-value pairs***.  Dictionaries can use various types for keys (e.g. strings, ints) so long as the key is immutable.  Values are looked up by key.  In python dictionaries are indicated by ***curly braces { }*** 
e.g.,  ga_instructors = {'name': "Amy", "role": "instructor", "programming": ["python", "javascript"]}

In [28]:
#creat a dictionary name info with name set to "Bob", age set to 54, kids set to Henry and Phil"

In [30]:
#we can access the data like this ga_instructors['role'] will print "instructor"
#print the name in the info dictionary

'Bob'

In [31]:
#Looks like we've been at this awhile. Make Bob a year older

In [32]:
#print his age to check that it is now 55

55

In [29]:
#There's a handy function called len() that will count things for you e.g., len(ga_instructors['programming']) will print 2
#find out how many kids Bob has and print save the value to the variable num_kids

In [30]:
#print number kids

2

Some additional references:

http://python.org/documentation/  
http://www.greenteapress.com/thinkpython/thinkpython.pdf  
http://nbviewer.ipython.org/url/www.astro.washington.edu/users/vanderplas/Astr599/notebooks/01_basic_training.ipynb  
http://nbviewer.ipython.org/url/www.astro.washington.edu/users/vanderplas/Astr599/notebooks/02_advanced_data_structures.ipynb

The point of all of this?  Different python stats and machine learning libraries (and functions) take different kinds of data structures as input data.  You will likely spend a lot of time converting data between different formats, so it is worthwhile to begin getting familiar with them.  If something is not working as expected, double-check that your data looks the way that you think it looks!  :-)

Things to look up:  
    
- list and array slicing
- python list comprehensions
- array manipulation